# Ignorar carpetas comunes de IDE
/.idea/
/*.iml
/.vscode/
/.settings/
/.project
.classpath
.factorypath

# Maven output
/target/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log

# Ignorar credenciales (si agregas en el futuro)
application-secret.properties

# Ignorar sistema operativo
*.swp
*.bak

# Maven wrapper (opcional si no lo usás)
.mvn/
mvnw
mvnw.cmd
